* {
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color:darkgray;
}

.top-centre-header {
    background-color: dodgerblue;
}

.main-body {
    font-size: small;
}

.question {
    border:blue
}

.footer {
    
}